<div class="flex flex-col flex-auto min-w-0 ">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Comunicación
                </h2>
            </div>
        </div>
    </div>
    <div class="p-6 sm:p-10">
        <div class="flex items-center justify-end">
            <button
                (click)="sendEmail()"
                class="px-6 ml-3"
                mat-flat-button
                [color]="'primary'">
                Enviar por email
            </button>
            <button
                (click)="printComunications()"
                class="px-6 ml-3"
                mat-flat-button
                [color]="'primary'">
                Imprimir comunicados
            </button>
        </div>
        <div class="grid grid-cols-2" >
            <div class="max-w-3xl" [formGroup]="announcementForm">
                <div class="flex flex-col mt-4 p-8 pb-5 bg-card shadow rounded overflow-hidden">
                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-label>Título</mat-label>
                            <input
                                matInput
                                formControlName="title"
                                [placeholder]="'title'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col gap-y-2">
                        <mat-label class="font-medium ">Contenido</mat-label>
                        <quill-editor
                            class="flex-auto pb-8"
                            [formControlName]="'content'"
                            [bounds]="'self'"
                            [modules]="quillModules">
                        </quill-editor>
                    </div>
                </div>
            </div>
            <div class="max-w-3xl " >
                <div class="flex flex-col mt-4 p-8 pb-5 bg-card shadow rounded overflow-hidden">
                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-button-toggle-group
                            class="flex flex-wrap -m-2"
                            [(ngModel)]="selectedFilter"
                            (change)="onFilterChange($event)">
                            <ng-container *ngFor="let filter of filters">
                                <mat-button-toggle
                                    class="m-2"
                                    [value]="filter">
                                    <span class="text-secondary">{{filter | titlecase}}</span>
                                    <span class="ml-1.5 font-medium text-secondary">({{numberOfComuneros[filter]}})</span>
                                </mat-button-toggle>
                            </ng-container>
                        </mat-button-toggle-group>
                        <mat-form-field  [formGroup]="announcementForm"
                            class="w-full mt-4"
                            [subscriptSizing]="'dynamic'">
                            <mat-label>Comuneros</mat-label>
                            <mat-select
                                formControlName="comuneros"
                                multiple>
                                <ng-container *ngFor="let comunero of comuneros; trackBy: trackByFn">
                                    <mat-option [value]="comunero">{{comunero.user.name}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-end mt-10">
            <button mat-button>
                Cancel
            </button>
            <button
                (click)="saveAnnouncement()"
                class="px-6 ml-3"
                mat-flat-button
                [color]="'primary'">
                Save
            </button>
        </div>
    </div>
</div>
