# Copia a .env.local y ajusta los valores.
NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_AUTH_ISSUER=http://localhost:9090/realms/comuneros
NEXT_PUBLIC_AUTH_CLIENT_ID=comuneros-app
NEXT_PUBLIC_REALM=comuneros
NEXT_PUBLIC_WEB_ENDPOINT=http://localhost:3000
API_PROXY_TARGET=http://localhost:8080/comuneros/api/v1
