<div class="flex flex-col flex-auto md:w-240 md:min-w-240 -m-6 overflow-hidden">
    <div class="w-full flex flex-col gap-2 p-4">
        <span
            class="text-2xl">Comuneros a suspender</span>
        <span class="text-secondary">Listado de comuneros que no asistieron a las últimas 3 reuniones o más.</span>
    </div>

    <ng-container *ngIf="comuneros.length > 0">
        <button class="mx-auto" mat-flat-button (click)="markAll()">
            Seleccionar todos
        </button>
        <div class="mx-2 mt-2 space-y-1.5 h-72 overflow-auto">
            <ng-container *ngFor="let comunero of comuneros; trackBy: trackByFn">
                <div class="group flex items-center">
                    <mat-checkbox class="flex items-center" [color]="'primary'" [(ngModel)]="comunero.selected"
                        (change)="updateTaskOnNote(note, task)"></mat-checkbox>
                    <span class="w-full px-1 py-0.5">
                        {{comunero.user.name}}
                    </span>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="comuneros.length == 0">
        <div class="flex items-center justify-center">
            <span class="text-xl">No hay comuneros para suspender.</span>
        </div>
    </ng-container>

    <!-- Edit Actions -->
    <ng-container>
        <div class="flex items-center gap-2 justify-end mt-4 p-4">
            <!-- Discard -->
            <button
                class="ml-auto sm:ml-0"
                mat-stroked-button matDialogClose>
                Cancelar
            </button>
            <!-- Save as draft -->
            <button
                [disabled]="!hasActiveComuneros()"
                mat-flat-button
                [color]="'primary'"
                (click)="suspendComuneros()">
                <span>Suspender comuneros</span>
            </button>
        </div>
    </ng-container>
</div>
