/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.scanning::after {
    content: "";
    position: absolute;
    width: 284px;
    border-radius: 15px;
    height: 10px;
    background-image: linear-gradient(to bottom, rgba(44, 164, 215, 0.6), rgba(44, 164, 215, 0.6));
    -moz-animation: scan 1s infinite;
    -webkit-animation: scan 0s infinite;
    animation: scan 1.5s infinite;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
}

  @keyframes scanning {
      100% { transform: translate(0, 260px); }
  }

  @-webkit-keyframes scan {
    0%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(210px);
      transform: translateY(275px);
    }
  }

.ql-snow .ql-picker-options .ql-picker-item {
font-family: #{attr(data-value)};
&::before {
    content: attr(data-value) !important;
}
}

.ql-snow .ql-picker.ql-font .ql-picker-label::before,
.ql-snow .ql-picker.ql-font .ql-picker-item::before {
content: attr(data-value) !important;
}

$text-editor-fonts: 'IRANSans', 'roboto', 'cursive', 'fantasy', 'monospace';

@each $text-editor-font in $text-editor-fonts {
  .ql-font-#{$text-editor-font} {
    font-family: $text-editor-font;
  }
}

