<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Exportar comuneros</div>
        <button
            mat-icon-button
            (click)="discard()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <fieldset class="p-6">

        <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
          <label (click)="exportForm.get('type').setValue('SIMPLE')" class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none">
            <input type="radio" name="delivery-method" value="Standard" class="sr-only">
            <span class="flex flex-1">
              <span class="flex flex-col">
                <span id="delivery-method-0-label" class="block text-sm font-medium text-gray-900">Sencilla</span>
                <span id="delivery-method-0-description-0" class="mt-1 flex items-center text-sm text-gray-500">Nombre, estado y fecha de alta</span>
              </span>
            </span>
            <span [ngClass]="exportForm.get('type').value == 'SIMPLE' ? 'border border-indigo-500' : 'border-2 border-transparent'" class="pointer-events-none absolute -inset-px rounded-lg border-2" aria-hidden="true"></span>
          </label>
          <label (click)="exportForm.get('type').setValue('COMPLETE')" class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none">
            <input type="radio" name="delivery-method" value="Express" class="sr-only">
            <span class="flex flex-1">
              <span class="flex flex-col">
                <span id="delivery-method-1-label" class="block text-sm font-medium text-gray-900">Completa</span>
                <span id="delivery-method-1-description-0" class="mt-1 flex items-center text-sm text-gray-500">Nombre, DNI, dirección, estado y fecha de alta</span>
              </span>
            </span>
            <span [ngClass]="exportForm.get('type').value == 'COMPLETE' ? 'border border-indigo-500' : 'border-2 border-transparent'" class="pointer-events-none absolute -inset-px rounded-lg border-2" aria-hidden="true"></span>
          </label>
        </div>
        <div class="flex items-center gap-2 justify-end mt-4">
            <!-- Discard -->
            <button
                class="ml-auto sm:ml-0"
                mat-stroked-button
                (click)="discard()">
                Cancelar
            </button>
            <button
                [disabled]="!exportForm.valid"
                mat-flat-button
                [color]="'primary'"
                (click)="saveAndClose()">
                <span>Exportar</span>
            </button>
        </div>
    </fieldset>

</div>
