<div class="flex flex-col flex-auto min-w-0 ">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Reunión
                </h2>
            </div>
        </div>
    </div>
    <div class="p-6 sm:p-10">
        <div class="flex flex-wrap gap-y-2 items-center justify-end" *ngIf="editMode">
            <button
                (click)="openScanningOverlay()"
                class="w-full md:w-fit md:px-6 md:ml-3"
                mat-flat-button
                [color]="'primary'">
                Escanear QRs
            </button>
            <button
            (click)="openDocumentDialog()"
                class="w-full md:w-fit md:px-6 md:ml-3"
                mat-flat-button
                [color]="'primary'">
                Subir documento de reunion
            </button>
            <input
                #fileInput
                type="file"
                class="hidden"
                (change)="uploadActa(fileInput.files)"
                accept=".pdf">
            <button
                *ngIf="!meeting.announcementId"
                (click)="createAnnouncement()"
                class="w-full md:w-fit md:px-6 md:ml-3"
                mat-flat-button
                [color]="'primary'">
                Crear convocatoria
            </button>
            <button
                *ngIf="meeting.announcementId"
                [routerLink]="['/announcements/', meeting.announcementId]"
                class="w-full md:w-fit md:px-6 md:ml-3"
                mat-flat-button
                [color]="'primary'">
                Ir a convocatoria
            </button>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4" >
            <div [formGroup]="meetingForm">
                <div class="flex flex-col mt-4 p-8 pb-5 bg-card shadow rounded overflow-hidden">
                    <h2 class="text-3xl font-semibold tracking-tight leading-8">
                        Información de la reunión
                    </h2>
                    <div class="flex flex-col gt-xs:flex-row mt-2">
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-label>Título</mat-label>
                            <input
                                matInput
                                formControlName="name"
                                [placeholder]="'name'">
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-label>Descripción</mat-label>
                            <textarea
                                matInput
                                formControlName="description"
                                [placeholder]="'description'"></textarea>
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-wrap items-center">
                        <!-- Date -->
                        <div>
                            <div class="font-medium">Fecha</div>
                            <div
                                class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer"
                                [ngClass]="{'text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700': !meetingForm.get('date').value,
                                            'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': meetingForm.get('date').value}"
                                (click)="datePicker.open()">
                                <mat-icon
                                    class="icon-size-5 text-current"
                                    [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                <span class="ml-2 text-md font-medium">
                                    <ng-container *ngIf="meetingForm.get('date').value">{{meetingForm.get('date').value | date:'longDate'}}</ng-container>
                                    <ng-container *ngIf="!meetingForm.get('date').value">Sin fecha</ng-container>
                                </span>
                                <mat-form-field
                                    class="fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none"
                                    [subscriptSizing]="'dynamic'">
                                    <input
                                        matInput
                                        [formControlName]="'date'"
                                        [matDatepicker]="datePicker">
                                    <mat-datepicker #datePicker>
                                        <mat-datepicker-actions>
                                            <button
                                                mat-button
                                                (click)="meetingForm.get('date').setValue(null)"
                                                matDatepickerCancel>Borrar
                                            </button>
                                            <button
                                                class=""
                                                mat-flat-button
                                                [color]="'primary'"
                                                matDatepickerApply>Seleccionar
                                            </button>
                                        </mat-datepicker-actions>
                                    </mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="meeting.documents.length > 0" class="flex flex-col mt-4 p-8 pb-5 bg-card shadow rounded overflow-hidden">
                    <h2 class="text-3xl font-semibold tracking-tight leading-8">
                        Documentos
                    </h2>
                    <div class="flex flex-wrap -m-2 mt-2">
                        <a *ngFor="let document of meeting.documents"  (click)="getDocument(document)"
                            class="relative flex flex-col w-30 h-30 m-2 p-3 border rounded-2xl cursor-pointer bg-card hover:bg-gray-100"
                            target="_blank"
                        >
                        <a
                            class="absolute z-20 top-1.5 right-1.5 w-8 h-8 min-h-8"
                            (click)="$event.preventDefault(); $event.stopPropagation(); deleteDocument(document)"
                            mat-icon-button>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:x-mark'"></mat-icon>
                        </a>
                            <div class="aspect-[9/6]">
                                <div
                                    class="flex items-center justify-center h-full"
                                >
                                    <!-- Icons -->
                                    <div class="relative">
                                        <mat-icon
                                            class="icon-size-14 text-hint opacity-50"
                                            [svgIcon]="
                                                'heroicons_solid:document'
                                            "
                                        ></mat-icon>
                                        <div
                                            *ngIf="
                                                getFileExtension(
                                                    document
                                                );
                                                let extension
                                            "
                                            class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 bg-black text-white"
                                            [class.bg-red-600]="
                                                extension === 'PDF'
                                            "
                                            [class.bg-blue-600]="
                                                extension === 'DOC'
                                            "
                                            [class.bg-green-600]="
                                                extension === 'XLS'
                                            "
                                            [class.bg-gray-600]="
                                                extension === 'TXT'
                                            "
                                            [class.bg-amber-600]="
                                                extension === 'JPG'
                                            "
                                        >
                                            {{ extension }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="flex flex-col flex-auto justify-center text-center text-sm font-medium"
                            >
                                <div class="truncate">
                                    {{ document.type }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div *ngIf="meeting?.attendance.length > 0" class="mt-4 p-8 pb-5 bg-card shadow rounded overflow-hidden">
                <h2 class="text-3xl font-semibold tracking-tight leading-8">
                    Asistencia
                </h2>
                <div class="flex flex-auto">
                    <span>{{presentCount}} asistentes</span>
                </div>
                <div class="flex-auto mt-2">
                    <mat-form-field
                        class="fuse-mat-dense fuse-mat-rounded w-full min-w-50"
                        subscriptSizing="dynamic">
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                        <input
                            matInput
                            matInput (keyup)="applyFilter($event)"
                            #input
                            [autocomplete]="'off'"
                            [placeholder]="'Buscar asistencia'">
                    </mat-form-field>
                </div>
                <div class="overflow-x-auto">
                    <table
                        class="w-full bg-transparent"
                        mat-table
                        matSort
                        [dataSource]="attendanceDataSource"
                        [trackBy]="trackByFn"
                        #recentTransactionsTable
                    >
                        <!-- subject -->
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                            Nombre y apellidos
                            </th>
                            <td mat-cell *matCellDef="let attendance">
                                <span
                                    class="pr-6 font-medium text-sm text-secondary whitespace-nowrap"
                                >
                                    {{ attendance.comunero.user.name }}
                                </span>
                            </td>
                        </ng-container>
                        <!-- status -->
                        <ng-container matColumnDef="status">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                            Estado
                            </th>
                            <td
                            mat-cell
                            *matCellDef="let attendance">
                            <button (click)="togglePresence(attendance)" *ngIf="attendance.status"
                                class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': attendance.status == 'ABSENT',
                                            'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': attendance.status == 'PRESENT'}">
                                <span *ngIf="attendance.status" class="leading-relaxed whitespace-nowrap">{{'ATTENDANCE.' + attendance.status | transloco}}</span>
                            </button>
                            </td>
                        </ng-container>

                        <!-- createdAt -->
                        <ng-container matColumnDef="date">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                            Fecha
                            </th>
                            <td mat-cell *matCellDef="let attendance">
                                <span
                                    class="pr-6 font-medium text-sm text-secondary whitespace-nowrap"
                                >
                                    {{
                                        attendance.entryDate | date : "medium"
                                    }}
                                </span>
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="
                                attendanceTableColumns
                            "
                        ></tr>
                        <tr
                            class="order-row h-16"
                            mat-row
                            *matRowDef="
                                let row;
                                columns: attendanceTableColumns
                            "
                        ></tr>
                    </table>
                    <ng-container *ngIf="attendanceDataSource.data.length == 0">
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No hay asistencia</div>
                    </ng-container>
                    <mat-paginator
                        class="border-b sm:border-t sm:border-b-0"
                        [pageSizeOptions]="[5, 10, 20]"
                        [showFirstLastButtons]="true"
                    >
                    </mat-paginator>
                </div>
            </div>
        </div>

        <div class="flex items-center justify-end mt-10">
            <button routerLink="../" mat-button>
                Cancelar
            </button>
            <button
                [disabled]="!meetingForm.valid"
                (click)="saveMeeting()"
                class="px-6 ml-3"
                mat-flat-button
                [color]="'primary'">
                Guardar
            </button>
        </div>
    </div>
</div>
