<div class="flex flex-auto">

    <form
        class="flex flex-col flex-auto p-6 pt-10 sm:p-8 sm:pt-10 overflow-y-auto"
        [formGroup]="meetingForm">

        <!-- Header -->
        <div class="flex items-center justify-between -mt-3 -ml-4">

            <div class="flex items-center">
                <!-- More menu -->
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="moreMenu">
                    <mat-icon [svgIcon]="'heroicons_outline:ellipsis-vertical'"></mat-icon>
                </button>
                <mat-menu #moreMenu="matMenu">
                    <button
                        mat-menu-item
                        (click)="deleteMeeting()">
                        <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>

                <!-- Close button -->
                <a
                    mat-icon-button
                    [routerLink]="['../']">
                    <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                </a>

                <button
                    mat-flat-button
                    class="ml-4"
                    (click)="openScanningOverlay()">
                    Scan
                </button>
            </div>

        </div>

        <mat-divider class="mt-6 mb-8"></mat-divider>

        <!-- Title -->
        <div>
            <mat-form-field
                class="w-full"
                [subscriptSizing]="'dynamic'">
                <mat-label>Título de la reunion</mat-label>
                <textarea
                    matInput
                    [formControlName]="'name'"
                    [spellcheck]="false"
                    cdkTextareaAutosize
                    #nameField></textarea>
            </mat-form-field>
        </div>

        <!-- Priority and Due date -->
        <div class="flex flex-wrap items-center mt-8">

            <!-- Date -->
            <div class="ml-6">
                <div class="font-medium">Fecha</div>
                <div
                    class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer"
                    [ngClass]="{'text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700': !meeting.date,
                                'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': meeting.date}"
                    (click)="datePicker.open()">
                    <mat-icon
                        class="icon-size-5 text-current"
                        [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                    <span class="ml-2 text-md font-medium">
                        <ng-container *ngIf="meeting.date">{{meeting.date | date:'longDate'}}</ng-container>
                        <ng-container *ngIf="!meeting.date">Not set</ng-container>
                    </span>
                    <mat-form-field
                        class="fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none"
                        [subscriptSizing]="'dynamic'">
                        <input
                            matInput
                            [formControlName]="'date'"
                            [matDatepicker]="datePicker">
                        <mat-datepicker #datePicker>
                            <mat-datepicker-actions>
                                <button
                                    mat-button
                                    (click)="meetingForm.get('date').setValue(null)"
                                    matDatepickerCancel>Clear
                                </button>
                                <button
                                    class=""
                                    mat-flat-button
                                    [color]="'primary'"
                                    matDatepickerApply>Select
                                </button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

        </div>

        <!-- Notes -->
        <div class="mt-8">
            <mat-form-field
                class="w-full"
                [subscriptSizing]="'dynamic'">
                <mat-label>Descripción</mat-label>
                <textarea
                    matInput
                    [formControlName]="'description'"
                    [spellcheck]="false"
                    cdkTextareaAutosize></textarea>
            </mat-form-field>
        </div>

    </form>

</div>

