<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container
        class="flex-auto h-full bg-card dark:bg-transparent"
        (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer
            class="w-full md:w-160 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex-auto overflow-y-scroll sm:overflow-y-hidden">

                <!-- Header -->
                <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">

                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Lugares</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="lugaresCount > 0">
                                {{lugaresCount}}
                            </ng-container>
                            {{lugaresCount | i18nPlural: {
                            '=0'   : 'No lugares',
                            '=1'   : 'lugar',
                            'other': 'lugares'
                        } }}
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="flex flex-wrap justify-end gap-y-2 items-center mt-4 sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">

                            <mat-form-field
                                class="fuse-mat-dense fuse-mat-rounded w-full"
                                subscriptSizing="dynamic">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                <input
                                    matInput
                                    [formControl]="searchInputControl"
                                    [autocomplete]="'off'"
                                    [placeholder]="'Search lugares'">
                            </mat-form-field>
                        </div>

                        <mat-form-field
                        class="w-full sm:w-44 ml-4"
                        [subscriptSizing]="'dynamic'">
                        <mat-select
                            class="rounded-md"
                            [value]="'all'"
                            (selectionChange)="filterByZona($event)"
                            >
                                <mat-option [value]="'all'">Todas las zonas</mat-option>
                                <ng-container *ngFor="let zona of zonas; trackBy: trackByFn">
                                    <mat-option [value]="zona">{{zona}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <!-- Add lugar button -->
                        <button
                            class="ml-4"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="createLugar()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">Add</span>
                        </button>
                    </div>
                </div>

                <div class="flex flex-col flex-auto mb-2 sm:mb-18 h-screen sm:overflow-hidden sm:overflow-y-auto">
                    <table
                        class="w-full bg-transparent overflow-y-auto"
                        mat-table
                        matSort
                        [dataSource]="lugarDataSource"
                        [trackBy]="trackByFn"
                        #recentTransactionsTable
                    >
                        <!-- subject -->
                        <ng-container matColumnDef="address">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                            Dirección
                            </th>
                            <td mat-cell *matCellDef="let lugar">
                                <span
                                    class="pr-6 font-medium text-sm text-secondary whitespace-nowrap"
                                >
                                    {{ lugar.address }}
                                </span>
                            </td>
                        </ng-container>
                        <!-- status -->
                        <ng-container matColumnDef="status">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                            Estado
                            </th>
                            <td
                            mat-cell
                            *matCellDef="let lugar">
                            <span *ngIf="lugar.status"
                            class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase">
                                <span *ngIf="lugar.status" class="leading-relaxed whitespace-nowrap">{{lugar.status}}</span>
                            </span>
                            </td>
                        </ng-container>

                        <!-- zona -->
                        <ng-container matColumnDef="zona">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                            Zona
                            </th>
                            <td mat-cell *matCellDef="let lugar">
                                <span
                                    class="pr-6 font-medium text-sm text-secondary whitespace-nowrap"
                                >
                                    {{
                                        lugar.zona
                                    }}
                                </span>
                            </td>
                        </ng-container>

                        <tr
                        class="py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            mat-header-row
                            *matHeaderRowDef="
                                lugarTableColumns
                            "
                        ></tr>
                        <tr
                            [routerLink]="'./' + row.id"
                            class="order-row h-12 cursor-pointer"
                            mat-row
                            *matRowDef="
                                let row;
                                columns: lugarTableColumns
                            "
                        ></tr>
                    </table>
                    <ng-container *ngIf="lugarDataSource.data.length == 0">
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No hay asistencia</div>
                    </ng-container>
                    <mat-paginator
                        class="absolute inset-x-0 bottom-0 border-t border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [pageSizeOptions]="[5, 10, 20]"
                        [showFirstLastButtons]="true"
                        >
                    </mat-paginator>
                </div>
            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
