<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <mat-drawer-container
        class="flex-auto h-full bg-card dark:bg-transparent"
        (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer
            class="w-full md:w-160 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">


                <!-- Header -->
                <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Direcciones</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="lugaresCount > 0">
                                {{lugaresCount}}
                            </ng-container>
                            {{lugaresCount | i18nPlural: {
                            '=0'   : 'No lugares',
                            '=1'   : 'lugar',
                            'other': 'lugares'
                        } }}
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="flex flex-wrap justify-end gap-y-2 items-center mt-4 sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">

                            <mat-form-field
                                class="fuse-mat-dense fuse-mat-rounded w-full md:w-64"
                                subscriptSizing="dynamic">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                                <input
                                    matInput
                                    [formControl]="searchInputControl"
                                    [autocomplete]="'off'"
                                    [placeholder]="'Buscar direcciones'">
                            </mat-form-field>
                        </div>

                        <mat-form-field
                        class="fuse-mat-dense fuse-mat-rounded w-full md:w-44 md:ml-4"
                        [subscriptSizing]="'dynamic'">
                        <mat-select
                            class="rounded-md"
                            [value]="'all'"
                            (selectionChange)="filterByZona($event)"
                            >
                                <mat-option [value]="'all'">Todos los lugares</mat-option>
                                <ng-container *ngFor="let zona of zonas; trackBy: trackByFn">
                                    <mat-option [value]="zona">{{zona}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <!-- Add lugar button -->
                        <button
                            class="w-full md:ml-4 md:w-44"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="createLugar()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">Nueva dirección</span>
                        </button>
                    </div>
                </div>
                <div class="flex flex-auto overflow-hidden">
                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                        <ng-container *ngIf="lugares">
                            <ng-container *ngIf="lugares.length > 0; else noAnnoucements">
                                <div class="grid">
                                    <!-- Header -->
                                    <div
                                        class="lugar-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                        >
                                        <div>Titulo</div>

                                        <div
                                            class="md:block">
                                            Estado
                                        </div>

                                        <div
                                            class="md:block">
                                            Población
                                        </div>
                                        <div
                                            class="md:block">
                                            Código postal
                                        </div>
                                    </div>
                                    <!-- Rows -->
                                    <ng-container *ngIf="lugares">
                                        <ng-container *ngFor="let lugar of lugares; trackBy: trackByFn">
                                            <div [routerLink]="lugar.id" class="lugar-grid grid select-none hover:bg-gray-100 dark:hover:bg-hover items-center gap-4 py-3 px-6 md:px-8 border-b cursor-pointer">

                                                <div class="truncate">
                                                    {{lugar.address}}
                                                </div>

                                                <div class="truncate">
                                                    <span *ngIf="lugar.status"
                                                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                                        [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': lugar.status == 'SUSPENDED',
                                                                    'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': lugar.status == 'ACTIVE'}">
                                                        <span *ngIf="lugar.status" class="leading-relaxed whitespace-nowrap">{{'STATUS.LUGAR.' + lugar.status | transloco}}</span>
                                                    </span>
                                                </div>

                                                <div class="truncate">
                                                    {{lugar.poblacion}}
                                                </div>

                                                <div class="truncate">
                                                    {{lugar.cp}}
                                                </div>

                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>

                                <mat-paginator
                                class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                    [pageSize]="10"
                                    [pageSizeOptions]="[5, 10, 25, 100]"
                                    [showFirstLastButtons]="true">
                                </mat-paginator>

                            </ng-container>
                        </ng-container>

                        <ng-template #noAnnoucements>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No existen lugares</div>
                        </ng-template>

                    </div>
                </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
