<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Nuevo documento</div>
        <button
            mat-icon-button
            (click)="discard()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="documentForm">

        <!-- To -->
        <mat-form-field>
            <mat-label>Título del documento</mat-label>
            <input
                matInput
                [formControlName]="'type'">
        </mat-form-field>

        <div class="col-span-full">
            <label for="cover-photo" class="block text-[14px] font-medium leading-6 text-gray-900">Archivo</label>
            <div (click)="fileInput.click()" class="cursor-pointer mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
              <div class="text-center">
                <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                </svg>
                <div class="mt-4 flex text-md justify-center leading-6 text-gray-600">
                  <div class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                    <span>Click para subir archivo</span>
                  </div>
                  <input (change)="onFileChange(fileInput.files)" #fileInput id="file-upload" name="file-upload" type="file" class="sr-only invisible">
                </div>
                <p class="text-sm leading-5 text-gray-600">{{documentForm.get('file').value?.name}}</p>
              </div>
            </div>
        </div>

        <div class="flex items-center gap-2 justify-end mt-4">
            <!-- Discard -->
            <button
                class="ml-auto sm:ml-0"
                mat-stroked-button
                (click)="discard()">
                Cancelar
            </button>
            <!-- Save as draft -->
            <button
                [disabled]="!documentForm.valid"
                mat-flat-button
                [color]="'primary'"
                (click)="saveAndClose()">
                <span>Subir archivo</span>
            </button>
        </div>
    </form>
</div>
