<button
    class="absolute inset-x-10 p-6 m-8 bottom-2 z-50"
    #searchOrigin
    mat-flat-button
    (click)="openPanel()"
    [color]="'primary'"
    >
    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
    <span class="ml-2 mr-1">Añadir manualmente</span>
</button>
<!-- Notifications panel -->
<ng-template #searchPanel>

    <div class="fixed inset-0 flex flex-col h-screen overflow-hidden shadow-lg">

        <!-- Header -->
        <div class="flex shrink-0 items-center py-4 pr-4 pl-6 bg-primary text-on-primary">
            <div class="-ml-1 mr-3">
                <button
                    mat-icon-button
                    (click)="closePanel()">
                    <mat-icon
                        class="icon-size-5 text-current"
                        [svgIcon]="'heroicons_solid:x-mark'"></mat-icon>
                </button>
            </div>
            <div class="text-lg font-medium leading-10">Añadir manualmente</div>
        </div>

        <!-- Content -->
        <div class="relative flex flex-col flex-auto divide-y overflow-y-auto bg-card">
            <ng-container *ngIf="appearance === 'bar'">
                <div
                    class="absolute top-4 inset-0 flex items-start shrink-0 z-99 bg-card"
                    *ngIf="opened"
                    @slideInTop
                    @slideOutTop>
                    <input
                        class="w-full px-16 sm:px-18"
                        [formControl]="searchControl"
                        [matAutocomplete]="matAutocomplete"
                        [placeholder]="'Search...'"
                        (keydown)="onKeydown($event)"
                        #barSearchInput>
                    <mat-autocomplete
                        class="sm:px-2 border-t rounded-b shadow-md"
                        [autoSelectActiveOption]="true"
                        [disableRipple]="true"
                        #matAutocomplete="matAutocomplete">
                        <mat-option
                            class="py-0 px-6 text-md pointer-events-none text-secondary bg-transparent"
                            *ngIf="resultSets && !resultSets.length">
                            No results found!
                        </mat-option>
                            <mat-optgroup class="flex items-center mt-2 px-2">
                                <span class="text-sm font-semibold tracking-wider text-secondary">Comuneros</span>
                            </mat-optgroup>
                            <ng-container *ngFor="let attendance of attendances; trackBy: trackByFn">
                                <mat-option
                                    class="group relative mb-1 py-0 px-6 text-md rounded-md hover:bg-gray-100 dark:hover:bg-hover"
                                    (click)="selectAttendance(attendance)"
                                    [value]="attendance.comunero.user.name">
                                    <ng-container *ngTemplateOutlet="contactResult; context: {$implicit: attendance.comunero.user}"></ng-container>
                                </mat-option>
                            </ng-container>
                    </mat-autocomplete>
                    <button
                        class="absolute top-2 right-5 sm:right-7 shrink-0 w-10 h-10 -mt-5"
                        mat-icon-button
                        (click)="close()">
                        <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                    </button>
                </div>
            </ng-container>
        </div>

    </div>

</ng-template>

<!-- Contact result template -->
<ng-template
    #contactResult
    let-result>
    <div class="flex items-center">
        <div class="flex shrink-0 items-center justify-center w-8 h-8 rounded-full overflow-hidden bg-primary-100 dark:bg-primary-800">
            <mat-icon
                class="m-0 icon-size-5 text-primary dark:text-primary-400"
                [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        </div>
        <div class="ml-3 truncate">
            <span [innerHTML]="result.name"></span>
        </div>
    </div>
</ng-template>
